@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*solve this padding for all*/

.header {
    display: flex;
    background-color: #1F2937;
    padding: 10px 150px;
    align-items: center;
    gap: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: #E5E7EB;
}

.mid-sec1 {
    display: flex;
    background-color: #1F2937;
    padding: 30px 150px;
    gap: 60px;
}

.sec1-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.s1tt {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.s1tm {
    font-size: 18px;
    color: #E5E7EB;
}

.s1tb {
    background-color: #3882F6;
    color: #E5E7EB;;
    align-self: flex-start;
    border-radius: 10px;
    padding: 6px 30px;
}

img {
    width: 300px;
    height: auto;
}

.mid-sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 150px;
    margin-bottom: 42px;
}

.mid-sec2-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 36px;
}

.all-boxes-w-text {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.box-w-text {
    width: 200px;
    text-align: center;
}

.box {
    height: 200px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #3882F6;
}

.mid-sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 90px 150px;
}

.qu-w-sign {
    width: 800px;
}

.quote {
    font-size: 24px;
    font-weight: lighter;
}

.qu-sign {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.mid-sec4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 100px 150px;
    padding: 30px;
    border-radius: 10px;
    color: #F9FAF8;
}

.call-header {
    font-size: 24px;
}

.call-text {
    font-size: 12px;
}

.call-but {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #F9FAF8;
    padding: 10px 30px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    padding: 10px 150px;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
    padding: 20px;
}